# Kafka Broker Details
# Example: broker1.example.com:9092,broker2.example.com:9092
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Security Protocol: PLAINTEXT or SASL_SSL
KAFKA_SECURITY_PROTOCOL=PLAINTEXT

# SASL Mechanism: PLAIN, SCRAM-SHA-256, SCRAM-SHA-512 (Only needed if using SASL_SSL)
KAFKA_SASL_MECHANISM=PLAIN

# SASL Credentials (Only needed if using SASL_SSL)
KAFKA_SASL_USERNAME=your_username
KAFKA_SASL_PASSWORD=your_password
